@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }
  html::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
  .primary-color {
    color: "#08BDBA";
    /* colors: {
      primary: "#08BDBA",
      accent: "#EEEEEE",
      second_primary: "#222831",
      second_accent: "#393E46",
    }, */
  }
}

@layer components {
  .blinking-cursor::after {
    content: "|";
    animation: blink 0.8s step-start infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .imageMask {
    -webkit-mask-image: url(../public/assets/blobBlue.svg);
    mask-repeat: no-repeat;
    mask-position: top left;
    mask-size: 500px 500px;
    @apply bg-[#5651e5];
  }
  .fadeInAnim {
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 50%;
      @apply translate-x-[-4px];
    }
    100% {
      opacity: 0%;
      @apply translate-x-[-8px];
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 100%;
      @apply translate-x-[8px];
    }
    50% {
      opacity: 50%;
      @apply translate-x-[4px];
    }
    100% {
      opacity: 0%;
      @apply translate-x-0;
    }
  }
}
